.home .dataset{
    display: flex;

    height: 18vw;

    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: space-between;
    
    margin-bottom: 3vw;
}

.home .dataframe{
    height: 100%;

}

.home .dataset .cell-table{
    position: absolute;
    height: 100%;

    align-items: center;
    justify-content: center;
    justify-items: center;

    text-align: center!important;
}

.home .dataset .Select-menu-outer{
    top:0vw;
    border-radius: 0.25vw;
}

.home .dataset .column-header-name{
    text-align: center!important;

}

.home .dataset .cell-table td{
    text-align: center!important;
    padding: 0.1vw;

}

.home .dash-table-container{
    display: flex;
    position: relative;

    height: 100%;

    flex-direction: column;
    
}

.home .previous-next-container{
    position: absolute;
    align-self: flex-end;
    bottom:-3vw;
}

.home .menu{
    display: flex;

    width: 28vw;
    height: 100%;

    flex-direction: row;
    flex-wrap: wrap;

    border: solid rgba(0,0,0,0.1) 0.15vw;
    border-radius: 1vw;

    padding: 1vw;

    margin-bottom: 2vw;

    justify-items: center;
    justify-content: space-between;
}

.home .menu .item{

    display: flex;
    flex-direction: row;

    width: 100%;

    margin: 0.5vw;

    justify-content: space-between;

}

.home .menu .item .list-title, .home .sliders .title{

    font-size: 1.4vw;
}

.home  .menu .item .dropdown{
    width: 15vw;
    height: 1vw;
}

.home .split{
    width: 100%;

    display: flex;

    flex-direction: row;
    justify-content: space-between;
}

.home .split .sliders{
    width: 100%;

    display: flex;
    flex-direction: column;
}

.home .split .sliders .title{
    margin-bottom: 1vw;
}

.home .menu-config{
    width: 68vw;
    height: 100%;
}